{% extends "page/index.html.twig" %}

{% block title %}MRIC - Partite terminate{% endblock %}

{% block main %}
	{% if not Context.gamesDone|length %}
		<div class="card shadow" style="width: 18rem;">
			<img src="/imgs/soccer-man.svg" class="card-img-top mt-3" height="100px" alt="">
			<div class="card-body">
				<h5 class="card-title">Non ci sono ancora partite terminate.</h5>
				<p class="card-text">Puoi guardare quelle in corso!</p>
				<a href="{{ path("app") }}" class="btn btn-primary w-100">Guarda</a>
			</div>
		</div>
	{% else %}
		<div class="border border-1 border-secondary rounded p-3 pb-0" style="height: fit-content">
			<table class="table table-striped table-hover caption-top">
				<h2>Storico partite terminate</h2>
				<thead>
					<tr>
						<th scope="col">Osservatore arbitrale</th>
						<th scope="col">Arbitro</th>
						<th scope="col">Luogo</th>
						<th scope="col">Squadra locale</th>
						<th scope="col">Squadra ospite</th>
						<th scope="col">Data</th>
					</tr>
				</thead>
				<tbody>
					{% for game in Context.gamesDone %}
						<tr>
							<th>{{ game.mainReferee.id == user.id ? "Tu": game.mainReferee.name }}</th>
							<th>{{ game.subReferee }}</th>
							<th>{{ game.location|capitalize }}</th>
							<td>{{ game.localTeam|capitalize }}</td>
							<td>{{ game.guestTeam|capitalize }}</td>
							<td>{{ game.date|date }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock %}
